body {
    background-color: white;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#header {
    text-align: center;
}
#footer {
    text-align: center;
}
#clickStart {
    position: relative;
    top: 8em;
    text-align: center;
}
ul {
    padding-left: 0;
}
ul li {
    list-style: none;
    padding: 5px 10px;
}
#buttons {
    margin: auto;
}

ul.inputList label {
    text-align: right;
}
ul.inputList input {
    width: 100%;
}
